.c-connect-bg {
  background-color: rgba(22, 23, 26, 1);
}

.c-form-bg {
  background: radial-gradient(
    rgba(240, 244, 255, 0.35) 50%,
    rgba(249, 251, 255, 0.5) 85%
  );
  box-shadow: 0 8px 32px 0 rgba(156, 161, 224, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.c-hover:hover {
  box-shadow: 0 8px 32px 0 rgba(199, 201, 235, 0.37);
}
